{% extends 'todo_app/base.html' %}
{% load static %}

<html>
    <head>                

    </head>
    <body>        
        {% block body %}
            {% if task_list%}
                <ul>
                    {% for task in task_list %}
                        <li>
                            <a href="{% url 'todo_app:detail' task.id %}"">{{task.task_name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
            
            
            {% endif %}
        {% endblock %}
    </body>
</html>